.Stableddiv{
    background-color: black;
    width:280px;
    height: 1000vh;
    position: fixed;

}
.image{
    background-image: url(Images/Main.jpg);
    background-repeat: no-repeat;
    width: 1125px;
    height: 100vh;
    margin-left: 10px;
    margin-top: 0px;
    
}